.holder {
  margin-bottom: 3rem;
}

.title {
  font-weight: 700;
  letter-spacing: 0;
  font-size: 2.5rem;
  line-height: 1.2em;
  margin-bottom: 1rem;
  font-family: var(--title-font-family);
  color: var(--title-color);
}

.badgesHolder {
  gap: 0.25rem;
  display: flex;

  &.top {
    margin-bottom: 1rem;
  }
}

.cover {
  width: 100%;
  object-fit: cover;
  margin-bottom: 3rem;
  aspect-ratio: 27 / 10;
  object-position: center;
}
