@use 'sass:list';

@function to-string($list) {
  $result: null;

  @each $part in $list {
    @if $result == null {
      $result:  $part;
    }@else {
      $result: '#{$result}-#{$part}';
    }
  }

  @return $result;
}

@mixin get-css-vars(
  $theme: null,
  $parent-path: (
    'th',
  )
) {
  @each $name, $value in $theme {
    $child-path: list.append($parent-path, $name);

    @if type-of($value) == 'map' {
      @include get-css-vars($theme: $value, $parent-path: $child-path);
    } @else {
      --#{to-string($child-path)}: #{$value};
    }
  }
}
