@use '@repo/ui/src/scss/variables.scss' as vars;

.year {
  color: #afadad;
  font-size: 0.8rem;
  margin-top: 0.02rem;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.02rem;
  background-color: #dadee5;
  font-family: vars.$var--title-font-family;
}
