:root {
  // primary
  // --th-colors-primary-50: #defbfe;
  // --th-colors-primary-100: #beedee;
  // --th-colors-primary-200: #9cdfe0;
  // --th-colors-primary-300: #77d0d2;
  // --th-colors-primary-400: #54c3c5;
  // --th-colors-primary-500: #3aa9ab;
  // --th-colors-primary-600: #298485;
  // --th-colors-primary-700: #185f60;
  // --th-colors-primary-800: #04393a;
  // --th-colors-primary-900: #001616;

  --th-colors-primary-50: #e6fffa;
  --th-colors-primary-100: #b2f5ea;
  --th-colors-primary-200: #81e6d9;
  --th-colors-primary-300: #4fd1c5;
  --th-colors-primary-400: #38b2ac;
  --th-colors-primary-500: #319795;
  --th-colors-primary-600: #2c7a7b;
  --th-colors-primary-700: #285e61;
  --th-colors-primary-800: #234e52;
  --th-colors-primary-900: #1d4044;

  // --th-colors-primary-50: #ebf8ff;
  // --th-colors-primary-100: #bee3f8;
  // --th-colors-primary-200: #90cdf4;
  // --th-colors-primary-300: #63b3ed;
  // --th-colors-primary-400: #4299e1;
  // --th-colors-primary-500: #3182ce;
  // --th-colors-primary-600: #2b6cb0;
  // --th-colors-primary-700: #2c5282;
  // --th-colors-primary-800: #2a4365;
  // --th-colors-primary-900: #1a365d;

  // gray
  --th-colors-gray-50: #f7fafc;
  --th-colors-gray-100: #edf2f7;
  --th-colors-gray-200: #e2e8f0;
  --th-colors-gray-300: #cbd5e0;
  --th-colors-gray-400: #a0aec0;
  --th-colors-gray-500: #718096;
  --th-colors-gray-600: #4a5568;
  --th-colors-gray-700: #2d3748;
  --th-colors-gray-800: #1a202c;
  --th-colors-gray-900: #171923;

  // green
  --th-colors-green-50: #f0fff4;
  --th-colors-green-100: #c6f6d5;
  --th-colors-green-200: #9ae6b4;
  --th-colors-green-300: #68d391;
  --th-colors-green-400: #48bb78;
  --th-colors-green-500: #38a169;
  --th-colors-green-600: #2f855a;
  --th-colors-green-700: #276749;
  --th-colors-green-800: #22543d;
  --th-colors-green-900: #1c4532;

  // red
  --th-colors-red-50: #fff5f5;
  --th-colors-red-100: #fed7d7;
  --th-colors-red-200: #feb2b2;
  --th-colors-red-300: #fc8181;
  --th-colors-red-400: #f56565;
  --th-colors-red-500: #e53e3e;
  --th-colors-red-600: #c53030;
  --th-colors-red-700: #9b2c2c;
  --th-colors-red-800: #822727;
  --th-colors-red-900: #63171b;

  // orange
  --th-colors-orange-50: #fffaf0;
  --th-colors-orange-100: #feebc8;
  --th-colors-orange-200: #fbd38d;
  --th-colors-orange-300: #f6ad55;
  --th-colors-orange-400: #ed8936;
  --th-colors-orange-500: #dd6b20;
  --th-colors-orange-600: #c05621;
  --th-colors-orange-700: #9c4221;
  --th-colors-orange-800: #7b341e;
  --th-colors-orange-900: #652b19;

  // yellow
  --th-colors-yellow-50: #fffff0;
  --th-colors-yellow-100: #fefcbf;
  --th-colors-yellow-200: #faf089;
  --th-colors-yellow-300: #f6e05e;
  --th-colors-yellow-400: #ecc94b;
  --th-colors-yellow-500: #d69e2e;
  --th-colors-yellow-600: #b7791f;
  --th-colors-yellow-700: #975a16;
  --th-colors-yellow-800: #744210;
  --th-colors-yellow-900: #5f370e;

  // white alpha
  --th-colors-white-alpha-50: rgba(255, 255, 255, 0.04);
  --th-colors-white-alpha-100: rgba(255, 255, 255, 0.06);
  --th-colors-white-alpha-200: rgba(255, 255, 255, 0.08);
  --th-colors-white-alpha-300: rgba(255, 255, 255, 0.16);
  --th-colors-white-alpha-400: rgba(255, 255, 255, 0.24);
  --th-colors-white-alpha-500: rgba(255, 255, 255, 0.36);
  --th-colors-white-alpha-600: rgba(255, 255, 255, 0.48);
  --th-colors-white-alpha-700: rgba(255, 255, 255, 0.64);
  --th-colors-white-alpha-800: rgba(255, 255, 255, 0.8);
  --th-colors-white-alpha-900: rgba(255, 255, 255, 0.92);

  // black alpha
  --th-colors-black-alpha-50: rgba(0, 0, 0, 0.04);
  --th-colors-black-alpha-100: rgba(0, 0, 0, 0.06);
  --th-colors-black-alpha-200: rgba(0, 0, 0, 0.08);
  --th-colors-black-alpha-300: rgba(0, 0, 0, 0.16);
  --th-colors-black-alpha-400: rgba(0, 0, 0, 0.24);
  --th-colors-black-alpha-500: rgba(0, 0, 0, 0.36);
  --th-colors-black-alpha-600: rgba(0, 0, 0, 0.48);
  --th-colors-black-alpha-700: rgba(0, 0, 0, 0.64);
  --th-colors-black-alpha-800: rgba(0, 0, 0, 0.8);
  --th-colors-black-alpha-900: rgba(0, 0, 0, 0.92);
}
