@use '@repo/ui/src/scss/mode.scss' as mode;

@import './color-schemes.scss';
@import '@repo/ui/src/apply-spacing/apply-spacing.scss';
@import '@repo/ui/src/apply-color-scheme/apply-color-scheme.scss';

:root {
  --heading-font-family: 'Montserrat Variable', sans-serif;
  --body-font-family: 'Roboto', sans-serif;
  --monospace-font-family: 'Roboto Mono Variable', monospace;
}

@include mode.generate-dark() {
  --text-color: white;
  --page-bg-color: var(--colors-gray-800);
  --border-color: var(--colors-white-alpha-300);

  --color-accent: var(--colors-primary-300);
  --color-accent-hover: var(--colors-primary-400);
  --color-accent-active: var(--colors-primary-500);

  --base-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@include mode.generate-light() {
  --text-color: var(--colors-gray-900);
  --page-bg-color: white;
  --border-color: var(--colors-gray-200);

  --color-accent: var(--colors-primary-500);
  --color-accent-hover: var(--colors-primary-600);
  --color-accent-active: var(--colors-primary-700);

  --base-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

[data-color-mode] {
  color: var(--text-color);
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--text-color);
  font-family: var(--body-font-family);
  background-color: var(--page-bg-color);
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font-family);
}

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(kbd, code) {
  font-family: var(--monospace-font-family);
}

:where(*, *::before, *::after) {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  word-wrap: break-word;
}
