.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.inner {
  position: relative;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0.75;
  color: light-dark(var(--color-gray-0), var(--color-dark-6));
  font-size: 15rem;
  text-align: center;
  font-weight: bold;
}

.content {
  padding-top: 220px;
  position: relative;
  z-index: 1;

  /* sm */
  @media (max-width: 640px) {
    padding-top: 120px;
  }
}

.title {
  /* font-family: Outfit */
  text-align: center;
  font-weight: 500;
  font-size: 38px;

  /* sm */
  @media (max-width: 640px) {
    font-size: 32px;
  }
}

.description {
  max-width: 540px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 36px;
}
