.baseSlide {
  @apply min-w-0 px-4 py-2 rounded-md border aspect-[400/200] flex-[0_0_20rem] tablet:flex-[0_0_25rem];

  &:not(.pending) {
    @apply bg-primary-400/20 hover:bg-primary-400/30 active:bg-primary-400/40 border-primary-500 
    dark:bg-primary-900/20 hover:dark:bg-primary-900/40 active:dark:bg-primary-900/60 dark:border-primary-900;
  }
}

.seeAllSlide {
  @apply flex justify-center items-center;
}

.slide {
  @apply flex flex-col gap-4 justify-between;

  &.pending {
    @apply bg-neutral-700/50 border-pending;

    .title {
      @apply pb-2;

      &:before {
        @apply mb-1 w-[70%];
      }

      &:after {
        @apply mb-1 w-[50%];
      }

      &:after,
      &:before {
        @apply block h-5 rounded-sm bg-bg-pending;

        & {
          content: '';
        }
      }
    }

    .date {
      @apply pb-2;

      &:before {
        @apply mb-1 w-[40%];
      }

      &:before {
        @apply block h-2.5 rounded-sm bg-bg-pending;

        & {
          content: '';
        }
      }
    }

    .description {
      @apply pb-2;

      &:before {
        @apply mb-1 w-[60%];
      }

      &:after {
        @apply mb-1 w-[80%];
      }

      &:after,
      &:before {
        @apply block h-3 rounded-sm bg-bg-pending;

        & {
          content: '';
        }
      }
    }
  }

  .title {
    @apply font-bold line-clamp-2;
  }

  .date {
    @apply text-passive text-sm;
  }

  .description {
    @apply text-sm line-clamp-4;
  }
}
