.cardsHolder {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  display: flex;
}

.cardHolder {
  width: 12rem;
}

.titleHolder {
  text-align: center;

  &.pending {
    margin: 0 auto;
    max-width: 20rem;
  }
}

.subtitleHolder {
  text-align: center;

  &.pending {
    margin: 0 auto;
    max-width: 30rem;
  }
}
