$icons: (
  chevronUp: url('./icon.chevron-up.svg'),
  chevronDown: url('./icon.chevron-down.svg'),
  tag: url('./icon.tag.svg'),
  clock: url('./icon.clock.svg'),
);

.icon {
  width: 100%;
  height: 100%;

  display: block;
  aspect-ratio: 1 / 1;
  background-color: currentColor;

  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;

  @each $name, $mask-image in $icons {
    &.#{$name} {
      mask-image: $mask-image;
    }
  }
}
