@use '../../scss/interactive.scss' as i;

@mixin scaled-img {
  .img {
    scale: 1.2;
  }
}

.cardHolder {
  .cardFooter {
    justify-content: center;
    color: var(--chakra-colors-white);
    background-color: var(--chakra-colors-gray-600);
  }

  .img {
    transition: scale 0.3s;
  }

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      @include scaled-img;

      .cardFooter {
        color: var(--chakra-colors-primary-400);
      }
    } @else if ($state == 'active') {
      @include scaled-img;

      .cardFooter {
        color: var(--chakra-colors-primary-600);
      }
    } @else if ($state == 'focus') {
      @include scaled-img;
      @include i.focus-outline-style;

      .cardFooter {
        color: var(--chakra-colors-primary-400);
      }
    }
  }
}
