@use '../../scss/interactive.scss' as i;
@use '../../scss/variables.scss' as vars;

.cardHolder {
  display: block;
  overflow: hidden;
  border-radius: 0.4rem;

  .imageHolder {
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: vars.$var-color--pending-bg;
  }

  .textHolder {
    text-align: center;
    padding: 0.75rem 1.8rem;
    background-color: #333333;
    color: #999;
  }

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      .textHolder {
        color: vars.$var-color--accent-hover;
      }
    } @else if ($state == 'active') {
      .textHolder {
        color: vars.$var-color--accent-active;
      }
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      .textHolder {
        color: vars.$var-color--accent-hover;
      }
    }
  }
}
