@use '../scss/interactive.scss' as i;
@use '@repo/ui/src/apply-border-radius/apply-border-radius.module.scss' as br;

@mixin scaled-img {
  .img {
    scale: 1.2;
  }
}

.cardHolder {
  @include br.border-radius-style('md');

  display: flex;
  overflow: hidden;
  max-width: 24rem;
  position: relative;
  flex-direction: column;
  box-shadow: var(--base-shadow);
  background-color: var(--colors-gray-600);

  .cardFooter {
    display: flex;
    padding: 1.25rem;
    justify-content: center;
    color: var(--colors-gray-50);
  }

  .img {
    transition: scale 0.3s;
  }

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      @include scaled-img;

      .cardFooter {
        color: var(--colors-primary-400);
      }
    } @else if ($state == 'active') {
      @include scaled-img;

      .cardFooter {
        color: var(--colors-primary-600);
      }
    } @else if ($state == 'focus') {
      @include scaled-img;
      @include i.focus-outline-style;

      .cardFooter {
        color: var(--colors-primary-400);
      }
    }
  }
}
