@use '@bit-trove/ui/src/scss/paddings.scss' as paddings;

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.pagePadding {
  @include paddings.page-padding-horizontal;
}
