@use '@repo/ui/src/scss/paddings.scss' as paddings;

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;

  main {
    padding-bottom: 3rem;
  }
}

.pagePadding {
  @include paddings.page-padding-horizontal;
}

.footer {
  background-color: var(--th-colors-gray-900);
}
