@use '../../scss/theme.module.scss' as theme;

.holder {
  line-height: 1.6;
  word-wrap: break-word;
  color: theme.$var-color--text;
  -webkit-font-smoothing: antialiased;

  p {
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
  }
}
