@use '../../scss/variables.scss' as vars;

.holder {
  line-height: 1.6;
  word-wrap: break-word;
  color: vars.$var-color--text;
  -webkit-font-smoothing: antialiased;

  p {
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
  }
}
