:root {
  // white alpha
  --colors-white-alpha-50: theme('colors.white-alpha.50');
  --colors-white-alpha-100: theme('colors.white-alpha.100');
  --colors-white-alpha-200: theme('colors.white-alpha.200');
  --colors-white-alpha-300: theme('colors.white-alpha.300');
  --colors-white-alpha-400: theme('colors.white-alpha.400');
  --colors-white-alpha-500: theme('colors.white-alpha.500');
  --colors-white-alpha-600: theme('colors.white-alpha.600');
  --colors-white-alpha-700: theme('colors.white-alpha.700');
  --colors-white-alpha-800: theme('colors.white-alpha.800');
  --colors-white-alpha-900: theme('colors.white-alpha.900');

  // black alpha
  --colors-black-alpha-50: theme('colors.black-alpha.50');
  --colors-black-alpha-100: theme('colors.black-alpha.100');
  --colors-black-alpha-200: theme('colors.black-alpha.200');
  --colors-black-alpha-300: theme('colors.black-alpha.300');
  --colors-black-alpha-400: theme('colors.black-alpha.400');
  --colors-black-alpha-500: theme('colors.black-alpha.500');
  --colors-black-alpha-600: theme('colors.black-alpha.600');
  --colors-black-alpha-700: theme('colors.black-alpha.700');
  --colors-black-alpha-800: theme('colors.black-alpha.800');
  --colors-black-alpha-900: theme('colors.black-alpha.900');
}
