@use 'sass:selector';

@use '@repo/ui/src/scss/mode.scss' as mode;

@mixin skeleton-animation($duration) {
  $name: skeleton;

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@mixin skeleton-style {
  --skeleton-start-color: var(--colors-gray-100);
  --skeleton-end-color: var(--colors-gray-400);

  @include mode.dark {
    --skeleton-start-color: var(--colors-gray-800);
    --skeleton-end-color: var(--colors-gray-600);
  }

  opacity: 0.7;

  width: 100%;
  cursor: default;
  user-select: none;
  color: transparent;
  pointer-events: none;
  background: var(--skeleton-start-color);
  border-color: var(--skeleton-start-color);
  background-clip: padding-box;

  * {
    visibility: hidden;
  }

  @include skeleton-animation(0.8s) {
    0% {
      background: var(--skeleton-start-color);
      border-color: var(--skeleton-start-color);
    }
    100% {
      background: var(--skeleton-end-color);
      border-color: var(--skeleton-end-color);
    }
  }
}

.skeleton {
  :where(&:not(.isLoaded)) {
    @include skeleton-style;
  }
}
