@use 'sass:map';

$base: 0em;
$sm: 30em;
$md: 48em;
$lg: 62em;
$xl: 80em;
$xxl: 96em;

@mixin interval($from: null, $to: null) {
  @if $from == null and $to == null {
    @content;
  } @else if $from == null {
    @media only screen and (max-width: calc($to - 1px)) {
      @content;
    }
  } @else if $to == null {
    @media only screen and (min-width: $from) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $from) and (max-width: calc($to - 1px)) {
      @content;
    }
  }
}

@mixin min-interval($from: null) {
  @media only screen and (min-width: $from) {
    @content;
  }
}

@mixin page-padding {
  @content (1rem);

  @include min-interval($from: $sm) {
    @content (2rem);
  }

  @include min-interval($from: $md) {
    @content (3rem);
  }

  @include min-interval($from: $lg) {
    @content (4rem);
  }
}
