@use '../scss/variables.scss' as vars;

@mixin focus-visible {
  &:focus-visible {
    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @content;
    }
  }
}

@mixin focus-outline-style {
  outline: none;
  box-shadow: 0 0 0 0.0625rem vars.$var-color--accent-hover;
}

@mixin focus-outline-style-inset {
  outline: none;
  box-shadow: 0 0 0 0.0625rem vars.$var-color--accent-hover inset;
}

@mixin interactive {
  @content ('default');

  @media (hover: hover) {
    &:not(:disabled):hover {
      @content ('hover');
    }
  }

  &:not(:disabled):active {
    @content ('active');
  }

  &:disabled {
    cursor: not-allowed;
    @content ('disabled');
  }

  @include focus-visible {
    @content ('focus');
  }
}
