@use '../scss/variables.scss' as vars;

@mixin focus-visible {
  &:focus-visible {
    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @content;
    }
  }
}

@mixin focus-outline-style {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--th-colors-primary-200);
}

@mixin focus-outline-style-inset {
  outline: none;
  box-shadow: 0 0 0 0.0625rem var(--th-colors-primary-200) inset;
}

@mixin interactive {
  @content ('default');

  @media (hover: hover) {
    &:not(:disabled):hover {
      @content ('hover');
    }
  }

  &:not(:disabled):active {
    @content ('active');
  }

  &:disabled {
    cursor: not-allowed;
    @content ('disabled');
  }

  @include focus-visible {
    @content ('focus');
  }
}

@function color($type: 'base', $scheme: null) {
  $num: '500';

  @if $type == 'hover' {
    $num: '600';
  } @else if $type == 'active' {
    $num: '700';
  }

  @if $scheme == null {
    @return var(--th-colors-scheme-#{$num});
  } @else {
    @return var(--th-colors-#{$scheme}-#{$num});
  }
}
