@use 'sass:selector';

@mixin generate-mode($mode: null, $default: false, $parent: '') {
  $mode-selector: " \
    :where( \
      :host[data-color-mode='#{$mode}'], \
      :root[data-color-mode='#{$mode}'], \
      [data-color-mode][data-color-mode='#{$mode}'] \
    ) \
    #{$parent} \
  ";

  $selector: unquote($mode-selector);
  @if $default {
    $default-selector: "  \
    :where(.mode-#{$mode}, [data-color-mode='#{$mode}']) \
    :where(\
      :host:not([data-color-mode]),\
      :root:not([data-color-mode]),\
      [data-color-mode]:not([data-color-mode])\
    ) \
    #{$parent} \
  ";

    $selector: unquote('#{$mode-selector}, #{$default-selector}');
  }

  @at-root #{$selector} {
    @content;
  }
}

@mixin generate-light($parent: '') {
  @include generate-mode($mode: 'light', $parent: $parent) {
    @content;
  }
}

@mixin generate-dark($parent: '') {
  @include generate-mode($mode: 'dark', $default: true, $parent: $parent) {
    @content;
  }
}

@mixin light {
  @include generate-light($parent: &) {
    @content;
  }
}

@mixin dark {
  @include generate-dark($parent: &) {
    @content;
  }
}

@mixin switch {
  @include dark {
    @content ('dark');
  }

  @include light {
    @content ('light');
  }
}
