@use './variables.scss' as vars;
@use './screen-interval.scss' as si;

@mixin page-padding-vertical {
  padding-top: vars.$var--page-top-padding;
  padding-bottom: vars.$var--page-bottom-padding;
}

@mixin page-padding-horizontal {
  @include si.page-padding using ($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }
}
