@use './breakpoints.scss' as breakpoints;

@mixin page-padding-vertical {
  padding-top: var(--page-top-padding);
  padding-bottom: var(--page-bottom-padding);

}

@mixin page-padding-horizontal {
  @include breakpoints.page-padding using ($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }
}
