@use 'sass:map';

$bp: (
  'xs': 36em,
  'sm': 48em,
  'md': 62em,
  'lg': 75em,
  'xl': 88em,
);

@mixin screen-interval($from: null, $to: null) {
  $from-bp: null;
  
  @if $from != null {
    $from-bp: map.get($bp, $from);
  } 

  $to-bp: null;
  @if $to != null {
    $to-bp: map.get($bp, $to);
  } 


  @if $from-bp == null and $to-bp == null {
    @content;
  } @else if $from-bp == null {
    @media only screen and (max-width: calc($to-bp - 1px)) {
      @content;
    }
  } @else if $to-bp == null {
    @media only screen and (min-width: $from-bp) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $from-bp) and (max-width: calc($to-bp - 1px)) {
      @content;
    }
  }
}

@mixin page-padding {
  @include screen-interval($to: 'sm') {
    @content (1rem);
  }

  @include screen-interval($from: 'sm', $to: 'md') {
    @content (2rem);
  }

  @include screen-interval($from: 'md', $to: 'lg') {
    @content (3rem);
  }

  @include screen-interval($from: 'lg') {
    @content (4rem);
  }
}
