// palette
$var-color--accent: var(--color--accent);
$var-color--accent-hover: var(--color--accent-hover);
$var-color--accent-active: var(--color--accent-active);
$var-color--text: var(--color--text);
$var-color--text-passive: var(--color--text-passive);
$var-color--title: var(--color--title);
$var-color--page-bg: var(--color--page-bg);
$var-color--pending-bg: var(--color--pending-bg);

// variables
$var--page-top-padding: var(--page-top-padding);
$var--page-bottom-padding: var(--page-bottom-padding);
$var--general-font-family: var(--general-font-family);
$var--title-font-family: var(--title-font-family);
