@use '../scss/theme.scss' as theme;
@use '../scss/variables.scss' as vars;

$light-theme: (
  palette: (
    color--accent: #38a3a5,
    color--accent-hover: #57cc99,
    color--accent-active: #22577a,
    color--text: #666666,
    color--text-passive: #999999,
    color--title: #000,
    color--page-bg: #ffffff,
    color--pending-bg: #cacad0,
  ),
  variables: (
    page-top-padding: 3rem,
    page-bottom-padding: 4rem,
  ),
);

$dark-theme: (
  palette: (
    color--accent: #38a3a5,
    color--accent-hover: #57cc99,
    color--accent-active: #22577a,
    color--text: #cccccc,
    color--text-passive: #999999,
    color--title: #fff,
    color--page-bg: #000,
    color--pending-bg: #cacad0,
  ),
  variables: (
    page-top-padding: 3rem,
    page-bottom-padding: 4rem,
  ),
);

.lightTheme {
  @include theme.theme($light-theme);
}

.darkTheme {
  @include theme.theme($dark-theme);
}

.holder {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;

  color: vars.$var-color--text;
  font-family: vars.$var--general-font-family;

  &:not(.withoutBackground) {
    background-color: vars.$var-color--page-bg;
  }
}
