$color-schemes: (
  'primary',
  'yellow',
  'gray',
  'red',
  'green',
  'orange',
  'black-alpha',
  'white-alpha'
);

@each $scheme in $color-schemes {
  .color-scheme-#{$scheme} {
    --colors-scheme-50: var(--colors-#{$scheme}-50);
    --colors-scheme-100: var(--colors-#{$scheme}-100);
    --colors-scheme-200: var(--colors-#{$scheme}-200);
    --colors-scheme-300: var(--colors-#{$scheme}-300);
    --colors-scheme-400: var(--colors-#{$scheme}-400);
    --colors-scheme-500: var(--colors-#{$scheme}-500);
    --colors-scheme-600: var(--colors-#{$scheme}-600);
    --colors-scheme-700: var(--colors-#{$scheme}-700);
    --colors-scheme-800: var(--colors-#{$scheme}-800);
    --colors-scheme-900: var(--colors-#{$scheme}-900);
  }
}

@mixin when-color-scheme($color-scheme) {
  &:global(.color-scheme-#{$color-scheme}) {
    @content;
  }
}
