@use '../scss/theme.module.scss' as theme;

$transitionDuration: 0.3s;

.plateLink {
  display: block;
  overflow: hidden;
  position: relative;
  aspect-ratio: 27 / 10;
  border-radius: 0.3rem;

  background-size: 100%;
  background-color: #ccc;
  background-position: center;

  transition: background-size $transitionDuration;

  &::before {
    content: '';

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(#000, 0.2);

    transition: background-color $transitionDuration;
  }

  &:hover {
    background-size: 120%;

    &::before {
      background-color: rgba(#000, 0.4);
    }
  }

  .text {
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: theme.$var--title-font-family;

    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
