@use '../heading/heading.module.scss' as heading;
@use '../link/link.mixins.scss' as link-mixins;

@mixin h1-style() {
  @apply mb-4;
  @include heading.common-style();
  @include heading.xxl-style();
}

@mixin h2-style() {
  @apply mb-3;
  @include heading.common-style();
  @include heading.md-style();
}

@mixin h3-style() {
  @apply mb-2;
  @include heading.common-style();
  @include heading.lg-style();
}

@mixin danger-html-style() {
  h1 {
    @include h1-style();
  }

  h2 {
    @include h2-style();
  }

  h3 {
    @include h3-style();
  }

  p,
  ul,
  ol,
  blockquote {
    @apply mb-5 leading-6;
  }

  ul,
  ol {
    @apply pl-6;

    li {
      @apply p-0;
    }
  }

  ul li::marker {
    content: '- ';
  }

  a {
    @apply cursor-pointer;
    @include link-mixins.link-text-primary-color-style;
  }

  p:has(+ :is(ul, ol)) {
    @apply mb-2;
  }

  :is(p, ul, ol, blockquote):last-child {
    margin-bottom: 0;
  }

  blockquote {
    @apply text-gray-400 pl-4 border-l-4 border-l-gray-200
      dark:border-l-gray-500;
  }

  img {
    @apply max-w-full;
  }

  code {
    @apply font-monospace font-medium inline-block rounded-md px-1 py-1 leading-[0.95]
     text-primary-800 bg-neutral-300/50
     dark:text-primary-400 dark:bg-neutral-700/50;

    //  background-color: rgba(27, 31, 35, 0.05); /* Light background */
    //  padding: 2px 5px; /* Some spacing */
    //  border-radius: 4px; /* Rounded edges */
    //  color: #d63384; /* A standout color (pinkish) */
    //  font-weight: 500; /* Slightly bolder for emphasis */
  }
}

.dangerHtml {
  @include danger-html-style();
}
