:root,
[data-theme="light"] {
  --color-brand-1: oklch(97.7% 0.0033 254.6);
  --color-brand-2: oklch(96.4% 0.011 254.6);
  --color-brand-3: oklch(94.1% 0.0228 254.6);
  --color-brand-4: oklch(91.6% 0.0434 254.6);
  --color-brand-5: oklch(88.4% 0.0637 254.6);
  --color-brand-6: oklch(84.1% 0.0837 254.6);
  --color-brand-7: oklch(78.5% 0.1061 254.6);
  --color-brand-8: oklch(70.9% 0.1434 254.6);
  --color-brand-9: oklch(71.4% 0.1434 254.6);
  --color-brand-10: oklch(67.7% 0.1434 254.6);
  --color-brand-11: oklch(51.9% 0.1434 254.6);
  --color-brand-12: oklch(32% 0.1149 254.6);

  --color-brand-a1: color(display-p3 0.0745 0.0784 0.6863 / 0.013);
  --color-brand-a2: color(display-p3 0.0235 0.4078 0.8902 / 0.041);
  --color-brand-a3: color(display-p3 0.0078 0.3843 0.9412 / 0.085);
  --color-brand-a4: color(display-p3 0.6863 0.8157 0.9961 / 0.5);
  --color-brand-a5: color(display-p3 0.1294 0.4784 1 / 0.25);
  --color-brand-a6: color(display-p3 0.0039 0.3922 0.9882 / 0.302);
  --color-brand-a7: color(display-p3 0.0039 0.3686 0.949 / 0.406);
  --color-brand-a8: color(display-p3 0 0.3569 0.9137 / 0.559);
  --color-brand-a9: color(display-p3 0 0.3647 0.9255 / 0.551);
  --color-brand-a10: color(display-p3 0 0.3294 0.851 / 0.595);
  --color-brand-a11: color(display-p3 0 0.2471 0.6196 / 0.78);
  --color-brand-a12: color(display-p3 0 0.1294 0.3608 / 0.932);

  --color-brand-contrast: #fff;
  --color-brand-surface: color(display-p3 0.9255 0.9451 0.9804 / 0.8);
  --color-brand-indicator: oklch(71.4% 0.1434 254.6);
  --color-brand-track: oklch(71.4% 0.1434 254.6);
}

[data-theme="dark"] {
  --color-brand-1: oklch(20.8% 0.0372 265.6);
  --color-brand-2: oklch(22% 0.0454 265.6);
  --color-brand-3: oklch(27.9% 0.1043 265.6);
  --color-brand-4: oklch(32.2% 0.1402 265.6);
  --color-brand-5: oklch(36.3% 0.1572 265.6);
  --color-brand-6: oklch(40.4% 0.1663 265.6);
  --color-brand-7: oklch(45.1% 0.1809 265.6);
  --color-brand-8: oklch(50.3% 0.2064 265.6);
  --color-brand-9: oklch(42.4% 0.1809 265.6);
  --color-brand-10: oklch(36.7% 0.1572 265.6);
  --color-brand-11: oklch(77.7% 0.1855 265.6);
  --color-brand-12: oklch(91.1% 0.0644 265.6);

  --color-brand-a1: color(display-p3 0.0706 0.0902 0.0039 / 0.025);
  --color-brand-a2: color(display-p3 0.2314 0.5804 0.9804 / 0.024);
  --color-brand-a3: color(display-p3 0.1216 0.3059 1 / 0.22);
  --color-brand-a4: color(display-p3 0.1255 0.2824 0.9961 / 0.351);
  --color-brand-a5: color(display-p3 0.1725 0.3137 1 / 0.454);
  --color-brand-a6: color(display-p3 0.2157 0.3608 1 / 0.533);
  --color-brand-a7: color(display-p3 0.2431 0.3882 1 / 0.636);
  --color-brand-a8: color(display-p3 0.2431 0.3961 1 / 0.776);
  --color-brand-a9: color(display-p3 0.2039 0.3529 1 / 0.599);
  --color-brand-a10: color(display-p3 0.1804 0.3216 1 / 0.458);
  --color-brand-a11: color(display-p3 0.6 0.7176 1 / 0.972);
  --color-brand-a12: color(display-p3 0.8353 0.8941 1 / 0.986);

  --color-brand-contrast: #fff;
  --color-brand-surface: color(display-p3 0.0706 0.102 0.1961 / 0.5);
  --color-brand-indicator: oklch(42.4% 0.1809 265.6);
  --color-brand-track: oklch(42.4% 0.1809 265.6);
}
