@layer components {
  .callout {
    @apply rounded-default border border-(--callout-border) bg-(--callout-bg) my-4 text-(--callout-text);

    &:has([data-callout-type="info"]) {
      --callout-border: #3b82f64d;
      --callout-bg: #3b82f61a;
      --callout-text: #2563eb;
      --callout-icon-bg: #3b82f633;

      @variant dark {
        & {
          --callout-bg: #3b82f61a;
          --callout-border: #3b82f64d;
          --callout-text: #60a5fa;
          --callout-icon-bg: #3b82f633;
        }
      }
    }

    &:has([data-callout-type="warning"]) {
      --callout-border: #eab3084d;
      --callout-bg: #eab3081a;
      --callout-text: #ca8a04;
      --callout-icon-bg: #eab30833;

      @variant dark {
        & {
          --callout-bg: #eab3081a;
          --callout-border: #eab3084d;
          --callout-text: #facc15;
          --callout-icon-bg: #eab30833;
        }
      }
    }

    &:has([data-callout-type="danger"]) {
      --callout-border: #ef44444d;
      --callout-bg: #ef44441a;
      --callout-text: #dc2626;
      --callout-icon-bg: #ef444433;

      @variant dark {
        & {
          --callout-bg: #ef44441a;
          --callout-border: #ef44444d;
          --callout-text: #f87171;
          --callout-icon-bg: #ef444433;
        }
      }
    }

    &:has([data-callout-type="success"]) {
      --callout-border: #22c55e4d;
      --callout-bg: #22c55e1a;
      --callout-text: #16a34a;
      --callout-icon-bg: #22c55e33;

      @variant dark {
        & {
          --callout-bg: #22c55e1a;
          --callout-border: #22c55e4d;
          --callout-text: #4ade80;
          --callout-icon-bg: #22c55e33;
        }
      }
    }

    &:has([data-callout-type="recommendation"]) {
      --callout-border: #a855f74d;
      --callout-bg: #a855f71a;
      --callout-text: #9333ea;
      --callout-icon-bg: #a855f733;

      @variant dark {
        & {
          --callout-bg: #a855f71a;
          --callout-border: #a855f74d;
          --callout-text: #c084fc;
          --callout-icon-bg: #a855f733;
        }
      }
    }

    &:has([data-callout-type="code"]) {
      --callout-border: #6b72804d;
      --callout-bg: #6b72801a;
      --callout-text: #4b5563;
      --callout-icon-bg: #6b728033;

      @variant dark {
        & {
          --callout-bg: #6b72801a;
          --callout-border: #6b72804d;
          --callout-text: #9ca3af;
          --callout-icon-bg: #6b728033;
        }
      }
    }

    &:has([data-callout-type="question"]) {
      --callout-border: #6366f14d;
      --callout-bg: #6366f11a;
      --callout-text: #4f46e5;
      --callout-icon-bg: #6366f133;

      @variant dark {
        & {
          --callout-bg: #6366f11a;
          --callout-border: #6366f14d;
          --callout-text: #818cf8;
          --callout-icon-bg: #6366f133;
        }
      }
    }
  }

  .callout-header {
    @apply flex items-center space-x-3 p-4;
  }

  .callout-icon {
    @apply flex-shrink-0 p-1 rounded bg-(--callout-icon-bg);
  }

  .callout-title {
    @apply font-semibold text-sm uppercase tracking-wide;
  }

  .callout-content {
    @apply px-4 pb-4 text-foreground text-sm;
  }
}
