.components-palette {
  /* colored */
  --color-primary: var(--color-primary-9);
  --color-primary-foreground: var(--color-primary-contrast);

  --color-secondary: var(--color-primary-4);
  --color-secondary-foreground: var(--color-gray-12);

  --color-accent: var(--color-primary-5);
  --color-accent-foreground: var(--color-gray-12);

  --color-focus-ring: var(--color-primary-9);

  /* neutral */
  --color-background: var(--color-gray-1);
  --color-foreground: var(--color-gray-12);

  --color-muted: var(--color-gray-4);
  --color-muted-foreground: var(--color-gray-11);

  --color-card: var(--color-gray-2);
  --color-card-foreground: var(--color-gray-12);

  --color-popover: var(--color-gray-4);
  --color-popover-foreground: var(--color-gray-12);

  --color-input: var(--color-gray-6);
  /* TODO Remove */
  --color-input-bg: var(--color-gray-6);

  --color-border: var(--color-gray-7);

  --color-destructive: var(--color-red-10);
  --color-destructive-foreground: var(--color-red-12);

  /* Custom */
  --color-input-border: var(--color-gray-a5);
}
