:root,
[data-theme="light"] {
  --color-gray-1: oklch(97.5% 0.0026 264.4);
  --color-gray-2: oklch(96.5% 0.0048 264.4);
  --color-gray-3: oklch(93.6% 0.0086 264.4);
  --color-gray-4: oklch(91.1% 0.0114 264.4);
  --color-gray-5: oklch(88.7% 0.0147 264.4);
  --color-gray-6: oklch(86.3% 0.0169 264.4);
  --color-gray-7: oklch(83% 0.0208 264.4);
  --color-gray-8: oklch(76.9% 0.0282 264.4);
  --color-gray-9: oklch(62% 0.0284 264.4);
  --color-gray-10: oklch(58.5% 0.027 264.4);
  --color-gray-11: oklch(48.1% 0.0234 264.4);
  --color-gray-12: oklch(24.5% 0.0196 264.4);

  --color-gray-a1: color(display-p3 0.0745 0.0784 0.3843 / 0.013);
  --color-gray-a2: color(display-p3 0.0314 0.0353 0.4471 / 0.029);
  --color-gray-a3: color(display-p3 0.0118 0.0745 0.3059 / 0.069);
  --color-gray-a4: color(display-p3 0.0078 0.0863 0.2784 / 0.105);
  --color-gray-a5: color(display-p3 0.0039 0.0941 0.3176 / 0.141);
  --color-gray-a6: color(display-p3 0.0039 0.098 0.3176 / 0.177);
  --color-gray-a7: color(display-p3 0.0039 0.0941 0.302 / 0.225);
  --color-gray-a8: color(display-p3 0.0039 0.0824 0.2824 / 0.306);
  --color-gray-a9: color(display-p3 0.0039 0.051 0.1765 / 0.49);
  --color-gray-a10: color(display-p3 0 0.051 0.1569 / 0.531);
  --color-gray-a11: color(display-p3 0 0.0353 0.1059 / 0.647);
  --color-gray-a12: color(display-p3 0 0.0118 0.0549 / 0.884);

  --color-gray-contrast: #ffffff;
  --color-gray-surface: color(display-p3 1 1 1 / 80%);
  --color-gray-indicator: oklch(62% 0.0284 264.4);
  --color-gray-track: oklch(62% 0.0284 264.4);
}

[data-theme="dark"] {
  --color-gray-1: oklch(17.8% 0.0104 285.6);
  --color-gray-2: oklch(21.4% 0.0097 285.6);
  --color-gray-3: oklch(25.4% 0.0132 285.6);
  --color-gray-4: oklch(28.4% 0.0146 285.6);
  --color-gray-5: oklch(31.3% 0.0146 285.6);
  --color-gray-6: oklch(34.9% 0.0146 285.6);
  --color-gray-7: oklch(40.1% 0.0146 285.6);
  --color-gray-8: oklch(49.1% 0.0146 285.6);
  --color-gray-9: oklch(54% 0.0146 285.6);
  --color-gray-10: oklch(58.5% 0.0146 285.6);
  --color-gray-11: oklch(76.9% 0.0146 285.6);
  --color-gray-12: oklch(94.9% 0.0066 285.6);

  --color-gray-a1: color(display-p3 0 0 0.9608 / 0.022);
  --color-gray-a2: color(display-p3 0.6392 0.6392 0.9961 / 0.055);
  --color-gray-a3: color(display-p3 0.7569 0.7569 1 / 0.097);
  --color-gray-a4: color(display-p3 0.7882 0.7882 0.9961 / 0.131);
  --color-gray-a5: color(display-p3 0.8275 0.8275 1 / 0.16);
  --color-gray-a6: color(display-p3 0.8431 0.8431 0.9961 / 0.202);
  --color-gray-a7: color(display-p3 0.8784 0.8784 0.9961 / 0.261);
  --color-gray-a8: color(display-p3 0.9137 0.9137 1 / 0.366);
  --color-gray-a9: color(display-p3 0.9176 0.9255 1 / 0.425);
  --color-gray-a10: color(display-p3 0.9373 0.9373 1 / 0.479);
  --color-gray-a11: color(display-p3 0.949 0.949 1 / 0.719);
  --color-gray-a12: color(display-p3 0.9765 0.9765 1 / 0.95);

  --color-gray-contrast: #ffffff;
  --color-gray-surface: color(display-p3 0 0 0 / 5%);
  --color-gray-indicator: oklch(54% 0.0146 285.6);
  --color-gray-track: oklch(54% 0.0146 285.6);
}
