:root,
[data-theme="light"] {
  --color-green-1: oklch(99.4% 0.0043 157.7);
  --color-green-2: oklch(98.2% 0.0091 157.7);
  --color-green-3: oklch(95.9% 0.0229 157.7);
  --color-green-4: oklch(93.3% 0.0364 157.7);
  --color-green-5: oklch(90% 0.0497 157.7);
  --color-green-6: oklch(85.7% 0.0646 157.7);
  --color-green-7: oklch(79.8% 0.084 157.7);
  --color-green-8: oklch(71.4% 0.1125 157.7);
  --color-green-9: oklch(64.1% 0.1329 157.7);
  --color-green-10: oklch(60% 0.1265 157.7);
  --color-green-11: oklch(52.9% 0.1329 157.7);
  --color-green-12: oklch(32.2% 0.0475 157.7);

  --color-green-a1: color(display-p3 0.0235 0.6745 0.0235 / 0.012);
  --color-green-a2: color(display-p3 0.0235 0.6118 0.2196 / 0.04);
  --color-green-a3: color(display-p3 0.0118 0.5725 0.1843 / 0.091);
  --color-green-a4: color(display-p3 0.0078 0.5882 0.1451 / 0.142);
  --color-green-a5: color(display-p3 0.0039 0.5412 0.1569 / 0.204);
  --color-green-a6: color(display-p3 0.0039 0.5176 0.1569 / 0.283);
  --color-green-a7: color(display-p3 0.0039 0.4824 0.1451 / 0.385);
  --color-green-a8: color(display-p3 0 0.4667 0.1529 / 0.538);
  --color-green-a9: color(display-p3 0 0.4549 0.1647 / 0.667);
  --color-green-a10: color(display-p3 0 0.4039 0.1451 / 0.702);
  --color-green-a11: color(display-p3 0 0.3569 0.1255 / 0.781);
  --color-green-a12: color(display-p3 0 0.102 0.0314 / 0.859);

  --color-green-contrast: #fff;
  --color-green-surface: color(display-p3 0.9569 0.9804 0.9608 / 0.8);
  --color-green-indicator: oklch(64.1% 0.1329 157.7);
  --color-green-track: oklch(64.1% 0.1329 157.7);
}

[data-theme="dark"] {
  --color-green-1: oklch(26% 0.0127 157.7);
  --color-green-2: oklch(27.8% 0.016 157.7);
  --color-green-3: oklch(33% 0.0388 157.7);
  --color-green-4: oklch(37% 0.0573 157.7);
  --color-green-5: oklch(41% 0.066 157.7);
  --color-green-6: oklch(45.2% 0.0733 157.7);
  --color-green-7: oklch(50% 0.0829 157.7);
  --color-green-8: oklch(55.3% 0.0962 157.7);
  --color-green-9: oklch(64.1% 0.1329 157.7);
  --color-green-10: oklch(60% 0.1329 157.7);
  --color-green-11: oklch(78.6% 0.1329 157.7);
  --color-green-12: oklch(90.5% 0.0828 157.7);

  --color-green-a1: color(display-p3 0 0.9255 0 / 0.01);
  --color-green-a2: color(display-p3 0.1451 1 0.2667 / 0.032);
  --color-green-a3: color(display-p3 0.3294 0.9922 0.549 / 0.106);
  --color-green-a4: color(display-p3 0.3333 1 0.5725 / 0.165);
  --color-green-a5: color(display-p3 0.4118 1 0.6078 / 0.22);
  --color-green-a6: color(display-p3 0.4667 1 0.651 / 0.279);
  --color-green-a7: color(display-p3 0.502 1 0.6745 / 0.348);
  --color-green-a8: color(display-p3 0.5176 1 0.6863 / 0.425);
  --color-green-a9: color(display-p3 0.4784 1 0.6667 / 0.576);
  --color-green-a10: color(display-p3 0.4157 1 0.6353 / 0.516);
  --color-green-a11: color(display-p3 0.6078 1 0.7451 / 0.786);
  --color-green-a12: color(display-p3 0.7961 1 0.8588 / 0.927);

  --color-green-contrast: #fff;
  --color-green-surface: color(display-p3 0.1412 0.1961 0.1569 / 0.5);
  --color-green-indicator: oklch(64.1% 0.1329 157.7);
  --color-green-track: oklch(64.1% 0.1329 157.7);
}
