.primary-slate {
  --color-primary-1: var(--color-slate-1);
  --color-primary-2: var(--color-slate-2);
  --color-primary-3: var(--color-slate-3);
  --color-primary-4: var(--color-slate-4);
  --color-primary-5: var(--color-slate-5);
  --color-primary-6: var(--color-slate-6);
  --color-primary-7: var(--color-slate-7);
  --color-primary-8: var(--color-slate-8);
  --color-primary-9: var(--color-slate-9);
  --color-primary-10: var(--color-slate-10);
  --color-primary-11: var(--color-slate-11);
  --color-primary-12: var(--color-slate-12);

  --color-primary-a1: var(--color-slate-a1);
  --color-primary-a2: var(--color-slate-a2);
  --color-primary-a3: var(--color-slate-a3);
  --color-primary-a4: var(--color-slate-a4);
  --color-primary-a5: var(--color-slate-a5);
  --color-primary-a6: var(--color-slate-a6);
  --color-primary-a7: var(--color-slate-a7);
  --color-primary-a8: var(--color-slate-a8);
  --color-primary-a9: var(--color-slate-a9);
  --color-primary-a10: var(--color-slate-a10);
  --color-primary-a11: var(--color-slate-a11);
  --color-primary-a12: var(--color-slate-a12);

  --color-primary-contrast: var(--color-slate-contrast);
  --color-primary-surface: var(--color-slate-surface);
  --color-primary-indicator: var(--color-slate-indicator);
  --color-primary-track: var(--color-slate-track);
}
