.primary-gray {
  --color-primary-1: var(--color-gray-1);
  --color-primary-2: var(--color-gray-2);
  --color-primary-3: var(--color-gray-3);
  --color-primary-4: var(--color-gray-4);
  --color-primary-5: var(--color-gray-5);
  --color-primary-6: var(--color-gray-6);
  --color-primary-7: var(--color-gray-7);
  --color-primary-8: var(--color-gray-8);
  --color-primary-9: var(--color-gray-9);
  --color-primary-10: var(--color-gray-10);
  --color-primary-11: var(--color-gray-11);
  --color-primary-12: var(--color-gray-12);

  --color-primary-a1: var(--color-gray-a1);
  --color-primary-a2: var(--color-gray-a2);
  --color-primary-a3: var(--color-gray-a3);
  --color-primary-a4: var(--color-gray-a4);
  --color-primary-a5: var(--color-gray-a5);
  --color-primary-a6: var(--color-gray-a6);
  --color-primary-a7: var(--color-gray-a7);
  --color-primary-a8: var(--color-gray-a8);
  --color-primary-a9: var(--color-gray-a9);
  --color-primary-a10: var(--color-gray-a10);
  --color-primary-a11: var(--color-gray-a11);
  --color-primary-a12: var(--color-gray-a12);

  --color-primary-contrast: var(--color-gray-contrast);
  --color-primary-surface: var(--color-gray-surface);
  --color-primary-indicator: var(--color-gray-indicator);
  --color-primary-track: var(--color-gray-track);
}
