:root {
  &,
  :where(.light) {
    --color-red-1: oklch(99.4% 0.0031 23.03);
    --color-red-2: oklch(98.3% 0.0083 23.03);
    --color-red-3: oklch(95.6% 0.021 23.03);
    --color-red-4: oklch(92.8% 0.0472 23.03);
    --color-red-5: oklch(89.6% 0.0619 23.03);
    --color-red-6: oklch(85.7% 0.0746 23.03);
    --color-red-7: oklch(80.7% 0.0894 23.03);
    --color-red-8: oklch(74.5% 0.1132 23.03);
    --color-red-9: oklch(62.6% 0.1933 23.03);
    --color-red-10: oklch(58.4% 0.1951 23.03);
    --color-red-11: oklch(55.7% 0.1933 23.03);
    --color-red-12: oklch(33.9% 0.109 23.03);

    --color-red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
    --color-red-a2: color(display-p3 0.8784 0.0196 0.0196 / 0.032);
    --color-red-a3: color(display-p3 0.8588 0.1059 0.0078 / 0.083);
    --color-red-a4: color(display-p3 0.8392 0.0902 0.0078 / 0.146);
    --color-red-a5: color(display-p3 0.8471 0.0784 0.0039 / 0.204);
    --color-red-a6: color(display-p3 0.8392 0.0784 0.0039 / 0.267);
    --color-red-a7: color(display-p3 0.7647 0.0588 0.0039 / 0.346);
    --color-red-a8: color(display-p3 0.7098 0.0471 0.0039 / 0.444);
    --color-red-a9: color(display-p3 0.749 0.0078 0 / 0.675);
    --color-red-a10: color(display-p3 0.6902 0 0 / 0.726);
    --color-red-a11: color(display-p3 0.6549 0 0.0118 / 0.761);
    --color-red-a12: color(display-p3 0.2745 0 0 / 0.883);

    --color-red-contrast: #fff;
    --color-red-surface: color(display-p3 0.9961 0.9647 0.9608 / 0.8);
    --color-red-indicator: oklch(62.6% 0.1933 23.03);
    --color-red-track: oklch(62.6% 0.1933 23.03);
  }

  :where(.dark) {
    --color-red-1: oklch(26% 0.0133 23.03);
    --color-red-2: oklch(27.1% 0.0215 23.03);
    --color-red-3: oklch(31% 0.0642 23.03);
    --color-red-4: oklch(34.1% 0.0958 23.03);
    --color-red-5: oklch(37.8% 0.1065 23.03);
    --color-red-6: oklch(42.2% 0.1113 23.03);
    --color-red-7: oklch(48.3% 0.1205 23.03);
    --color-red-8: oklch(57% 0.1464 23.03);
    --color-red-9: oklch(62.6% 0.1933 23.03);
    --color-red-10: oklch(58.4% 0.1464 23.03);
    --color-red-11: oklch(79% 0.1617 23.03);
    --color-red-12: oklch(90.2% 0.0528 23.03);

    --color-red-a1: color(display-p3 0.9961 0 0 / 0.023);
    --color-red-a2: color(display-p3 0.9961 0.1412 0 / 0.046);
    --color-red-a3: color(display-p3 1 0.1451 0.0706 / 0.16);
    --color-red-a4: color(display-p3 1 0.1255 0.1098 / 0.243);
    --color-red-a5: color(display-p3 1 0.2196 0.2078 / 0.306);
    --color-red-a6: color(display-p3 0.9961 0.3059 0.2941 / 0.375);
    --color-red-a7: color(display-p3 1 0.4 0.3725 / 0.475);
    --color-red-a8: color(display-p3 1 0.4353 0.4196 / 0.64);
    --color-red-a9: color(display-p3 1 0.3765 0.3725 / 0.804);
    --color-red-a10: color(display-p3 1 0.4549 0.4314 / 0.663);
    --color-red-a11: color(display-p3 1 0.6275 0.6 / 0.932);
    --color-red-a12: color(display-p3 1 0.8549 0.8353 / 0.969);

    --color-red-contrast: #fff;
    --color-red-surface: color(display-p3 0.2196 0.1333 0.1255 / 0.5);
    --color-red-indicator: oklch(62.6% 0.1933 23.03);
    --color-red-track: oklch(62.6% 0.1933 23.03);
  }
}
