:root {
  &,
  :where(.light) {
    --color-teal-1: oklch(99.3% 0.0044 194.8);
    --color-teal-2: oklch(98.2% 0.0083 194.8);
    --color-teal-3: oklch(96% 0.0249 194.8);
    --color-teal-4: oklch(93.4% 0.0389 194.8);
    --color-teal-5: oklch(90% 0.0503 194.8);
    --color-teal-6: oklch(85.6% 0.0596 194.8);
    --color-teal-7: oklch(79.8% 0.0705 194.8);
    --color-teal-8: oklch(72.2% 0.0889 194.8);
    --color-teal-9: oklch(54.3% 0.0927 194.8);
    --color-teal-10: oklch(49.6% 0.0927 194.8);
    --color-teal-11: oklch(51.9% 0.0927 194.8);
    --color-teal-12: oklch(34% 0.0437 194.8);

    --color-teal-a1: color(display-p3 0.0235 0.7569 0.7569 / 0.016);
    --color-teal-a2: color(display-p3 0.0196 0.6471 0.6471 / 0.044);
    --color-teal-a3: color(display-p3 0.0039 0.6706 0.7059 / 0.106);
    --color-teal-a4: color(display-p3 0.0039 0.6863 0.6863 / 0.173);
    --color-teal-a5: color(display-p3 0.0039 0.6275 0.6078 / 0.24);
    --color-teal-a6: color(display-p3 0.0039 0.5451 0.5451 / 0.318);
    --color-teal-a7: color(display-p3 0.0039 0.498 0.498 / 0.412);
    --color-teal-a8: color(display-p3 0 0.4784 0.4784 / 0.557);
    --color-teal-a9: color(display-p3 0 0.3569 0.3608 / 0.785);
    --color-teal-a10: color(display-p3 0 0.3098 0.3137 / 0.812);
    --color-teal-a11: color(display-p3 0 0.3294 0.3333 / 0.797);
    --color-teal-a12: color(display-p3 0 0.1255 0.1333 / 0.867);

    --color-teal-contrast: #fff;
    --color-teal-surface: color(display-p3 0.9529 0.9804 0.9804 / 0.8);
    --color-teal-indicator: oklch(54.3% 0.0927 194.8);
    --color-teal-track: oklch(54.3% 0.0927 194.8);
  }

  :where(.dark) {
    --color-teal-1: oklch(26% 0.0132 195);
    --color-teal-2: oklch(28.1% 0.0181 195);
    --color-teal-3: oklch(33.2% 0.0406 195);
    --color-teal-4: oklch(36.9% 0.0585 195);
    --color-teal-5: oklch(40.8% 0.0645 195);
    --color-teal-6: oklch(45.3% 0.0701 195);
    --color-teal-7: oklch(50.6% 0.0793 195);
    --color-teal-8: oklch(56.5% 0.093 195);
    --color-teal-9: oklch(54.3% 0.093 195);
    --color-teal-10: oklch(49.6% 0.0793 195);
    --color-teal-11: oklch(79.5% 0.093 195);
    --color-teal-12: oklch(90.5% 0.0774 195);

    --color-teal-a1: color(display-p3 0 0.9255 0.9255 / 0.01);
    --color-teal-a2: color(display-p3 0 0.9922 0.9922 / 0.037);
    --color-teal-a3: color(display-p3 0.0706 1 1 / 0.11);
    --color-teal-a4: color(display-p3 0.0471 1 1 / 0.165);
    --color-teal-a5: color(display-p3 0.1961 1 1 / 0.22);
    --color-teal-a6: color(display-p3 0.298 1 1 / 0.279);
    --color-teal-a7: color(display-p3 0.3529 0.9882 1 / 0.357);
    --color-teal-a8: color(display-p3 0.3686 0.9922 1 / 0.448);
    --color-teal-a9: color(display-p3 0.3216 0.9922 1 / 0.416);
    --color-teal-a10: color(display-p3 0.3255 0.9882 1 / 0.343);
    --color-teal-a11: color(display-p3 0.6314 0.9961 1 / 0.777);
    --color-teal-a12: color(display-p3 0.7412 0.9961 1 / 0.927);

    --color-teal-contrast: #fff;
    --color-teal-surface: color(display-p3 0.1176 0.2039 0.2039 / 0.5);
    --color-teal-indicator: oklch(54.3% 0.093 195);
    --color-teal-track: oklch(54.3% 0.093 195);
  }
}
