@use 'sass:list';
@use 'sass:selector';
@use '../scss/theme.module.scss' as theme;

$pending-widths: (80%, 90%, 70%, 75%, 85%);

.text {
  line-height: 1.6;
  word-wrap: break-word;
  color: theme.$var-color--text;
  -webkit-font-smoothing: antialiased;

  @at-root #{selector.unify(&, 'p')} {
    margin-bottom: 1rem;
  }

  &.pending {
    display: block;
    background-color: theme.$var-color--pending-bg;

    @for $i from 1 to list.length($pending-widths) + 1 {
      &:nth-child(#{$i}n) {
        width: list.nth($pending-widths, $i);
      }
    }
  }
}
