@use 'sass:list';
@use 'sass:selector';
@use '../scss/variables.scss' as vars;
@use '../scss/font-sizes.scss' as font-size;

.text {
  &.sizeSixXl {
    font-size: font-size.$six-xl;
  }

  &.sizeFiveXl {
    font-size: font-size.$five-xl;
  }

  &.sizeFourXl {
    font-size: font-size.$four-xl;
  }

  &.sizeThreeXl {
    font-size: font-size.$three-xl;
  }

  &.sizeTwoXl {
    font-size: font-size.$two-xl;
  }

  &.sizeXl {
    font-size: font-size.$xl;
  }

  &.sizeLg {
    font-size: font-size.$lg;
  }

  &.sizeMd {
    font-size: font-size.$md;
  }

  &.sizeSm {
    font-size: font-size.$sm;
  }

  &.sizeXs {
    font-size: font-size.$xs;
  }

  &.asSup {
    top: -0.5em;
  }

  &.asSub {
    bottom: -0.25em;
  }
}
