.stack {
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.gap05 {
    gap: 0.5rem;
  }

  &.gap1 {
    gap: 1rem;
  }

  &.gap2 {
    gap: 2rem;
  }
}
