.blogPostHorizontalPreview {
  gap: 1rem;
  display: flex;

  .coverHolder {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 13.5rem;
    aspect-ratio: 4 / 3;
    border-radius: 0.3rem;
    transition: scale 0.3s;
    background-color: var(--pending-bg-color);
  }

  &:hover {
    .coverHolder {
      scale: 1.1;
    }
  }

  .viewsCount {
    right: 0.8rem;
    bottom: 1.2rem;
    position: absolute;
  }
}
