@use '@bit-trove/ui/src/scss/variables.scss' as vars;
@use '@bit-trove/ui/src/scss/interactive.scss' as i;
@use '@bit-trove/ui/src/scss/screen-interval.scss' as si;

.blogPostHorizontalPreview {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 13.5rem 1fr;

  .coverRestrictor {
    width: 100%;
    max-width: 13.5rem;
  }

  .coverHolder {
    overflow: hidden;
    position: relative;
    aspect-ratio: 4 / 3;
    border-radius: 0.3rem;
    transition: scale 0.3s;
    background-color: vars.$var-color--pending-bg;
  }

  &:not(.pending):hover {
    .coverHolder {
      scale: 1.1;
    }
  }

  .viewsCount {
    right: 0.8rem;
    bottom: 1.2rem;
    position: absolute;
  }

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      .title {
        color: vars.$var-color--accent-hover;
      }
    } @else if ($state == 'active') {
      .title {
        color: vars.$var-color--accent-active;
      }
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      .title {
        color: vars.$var-color--accent-hover;
      }
    }
  }

  .title {
    margin-bottom: 0.625rem;
  }

  .badges {
    margin-bottom: 1rem;
  }

  .text {
    line-height: 1.7;
    color: vars.$var-color--text;
  }

  @include si.screen-interval($to: 'md') {
    margin-bottom: 2rem;
    grid-template-columns: 1fr;

    .coverRestrictor {
      max-width: initial;
      margin-bottom: 1rem;
    }

    .coverHolder {
      aspect-ratio: 27 / 10;
    }

    &:hover {
      .coverHolder {
        scale: none;
      }
    }
  }
}

.pendingLine {
  display: block;
  margin-bottom: 0.4rem;
  background-color: vars.$var-color--pending-bg;

  &:nth-child(1) {
    width: 80%;
  }

  &:nth-child(2) {
    width: 90%;
  }
}
