@use '../../../../../../packages/ui/src/scss/screen-interval.module.scss' as si;

.pagePadding {
  @include si.page-padding() using ($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.cover {
  position: relative;
  aspect-ratio: 27 / 10;
  margin-bottom: 2.4rem;
}
