.holder {
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);

  .eye {
    width: 1rem;
    height: 1rem;
    background-color: currentColor;

    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('./eye.svg');
  }
}
