@use '../../scss/interactive.scss' as i;
@use '../../scss/variables.scss' as vars;

.holder {
  gap: 0.375rem;
  display: flex;
  background: none;
  font-size: 0.7rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;

  &.pending {
    width: 6rem;
    background-color: vars.$var-color--pending-bg;
  }

  &.narrow {
    padding: 0.25rem 0;
  }

  &.link {
    gap: 0.25rem;
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
    align-items: center;
    color: vars.$var-color--accent;

    @include i.interactive using ($state) {
      @if $state == 'hover' {
        color: vars.$var-color--accent-hover;
      } @else if $state == 'active' {
        color: vars.$var-color--accent-active;
      } @else if $state == 'focus' {
        @include i.focus-outline-style;
        color: vars.$var-color--accent-active;
      }
    }
  }

  .icon {
    width: 1rem;

    &.small {
      width: 0.75rem;
    }

    &.big {
      width: 1.25rem;
    }
  }
}
