@use 'sass:map';

@use '@repo/ui/src/scss/interactive.scss' as i;
@use '@repo/ui/src/apply-color-scheme/apply-color-scheme.scss' as cs;

@mixin button-filled-light-gray-style {
  color: var(--colors-gray-800);
  background-color: var(--colors-scheme-100);

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      background-color: var(--colors-scheme-200);
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      background-color: var(--colors-scheme-20);
    } @else if ($state == 'active') {
      background-color: var(--colors-scheme-300);
    } @else if ($state == 'disabled') {
      background-color: var(--colors-gray-400);
    }
  }
}

@mixin button-filled-light-style {
  color: var(--colors-gray-100);
  background-color: var(--colors-scheme-500);

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      background-color: var(--colors-scheme-600);
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      background-color: var(--colors-scheme-600);
    } @else if ($state == 'active') {
      background-color: var(--colors-scheme-700);
    } @else if ($state == 'disabled') {
      background-color: var(--colors-gray-400);
    }
  }

  @include cs.when-color-scheme('gray') {
    @include button-filled-light-gray-style;
  }
}

@mixin button-filled-dark-gray-style {
  color: var(--colors-white-alpha-900);
  border-color: var(--colors-white-alpha-200);
  background-color: var(--colors-white-alpha-200);

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      border-color: var(--colors-white-alpha-300);
      background-color: var(--colors-white-alpha-300);
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      border-color: var(--colors-white-alpha-300);
      background-color: var(--colors-white-alpha-300);
    } @else if ($state == 'active') {
      border-color: var(--colors-white-alpha-400);
      background-color: var(--colors-white-alpha-400);
    } @else if ($state == 'disabled') {
      border-color: var(--colors-gray-400);
      background-color: var(--colors-gray-400);
    }
  }
}

@mixin button-filled-dark-style {
  color: var(--colors-gray-700);
  border-color: var(--colors-scheme-200);
  background-color: var(--colors-scheme-200);

  @include i.interactive using ($state) {
    @if ($state == 'hover') {
      border-color: var(--colors-scheme-300);
      background-color: var(--colors-scheme-300);
    } @else if ($state == 'focus') {
      @include i.focus-outline-style;

      border-color: var(--colors-scheme-300);
      background-color: var(--colors-scheme-300);
    } @else if ($state == 'active') {
      border-color: var(--colors-scheme-400);
      background-color: var(--colors-scheme-400);
    } @else if ($state == 'disabled') {
      border-color: var(--colors-gray-400);
      background-color: var(--colors-gray-400);
    }
  }

  @include cs.when-color-scheme('gray') {
    @include button-filled-dark-gray-style;
  }
}
