@use 'sass:map';

@use '@bit-trove/theme/mode.scss' as m;
@use '@bit-trove/ui/src/apply-border-radius/apply-border-radius.module.scss' as br;

@use './button.filled.scss' as filled;
@use './button.outline.scss' as outline;

.button {
  cursor: pointer;
  line-height: 1.2;
  font-weight: 600;
  white-space: nowrap;
  border-radius: map.get(br.$radiuses, 'md');

  &.filled {
    @include filled.button-filled-light-style;
  }

  &.outline {
    border-style: solid;
    border-width: 0.0625rem;

    @include outline.button-outline-light-style;
  }

  @include m.dark-mode {
    &.filled {
      @include filled.button-filled-dark-style;
    }

    &.outline {
      @include outline.button-outline-dark-style;
    }
  }

  &.xs {
    height: 1.5rem;
    min-width: 1.5rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    font-size: 0.75rem;
  }

  &.sm {
    height: 2rem;
    min-width: 2rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    font-size: 0.875rem;
  }

  &.md {
    height: 2.5rem;
    min-width: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-size: 1rem;
  }

  &.lg {
    height: 3rem;
    min-width: 3rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    font-size: 1.125rem;
  }
}
