$maskIcons: (
  article: url('./images/icon.article.svg'),
  burger: url('./images/icon.burger.svg'),
  copy: url('./images/icon.copy.svg'),
  eye: url('./images/icon.eye.svg'),
  eyeClosed: url('./images/icon.eye-closed.svg'),
  home: url('./images/icon.home.svg'),
  info: url('./images/icon.info.svg'),
  moon: url('./images/icon.moon.svg'),
  scroll: url('./images/icon.scroll.svg'),
  sun: url('./images/icon.sun.svg'),
  warningCircle: url('./images/icon.warning-circle.svg'),
);

.icon {
  @apply w-full h-full block aspect-square;

  @each $name, $mask-image in $maskIcons {
    &.#{$name} {
      background-color: currentColor;
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: $mask-image;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-image: $mask-image;
    }
  }
}
