@use '@bit-trove/ui/src/scss/paddings.scss' as paddings;
@use '@bit-trove/ui/src/scss/screen-interval.scss' as si;

.pageContent {
  .columns {
    @include paddings.page-padding-horizontal;

    display: grid;
    column-gap: 3.5rem;

    grid-template-columns: 1fr 15rem;

    .extraColumn {
      top: 1rem;
      height: 100vh;
      position: sticky;
    }

    @include si.screen-interval($to: 'sm') {
      grid-template-columns: 1fr;

      .extraColumn {
        display: none;
      }
    }

    .content {
      min-width: 0;
      overflow-x: hidden;
    }
  }
}
