@use '@repo/ui/src/scss/mode.scss' as mode;
@use '@repo/ui/src/scss/font-sizes.scss' as font-size;
@use '@repo/ui/src/scss/interactive.scss' as i;

@mixin filled-tag-colors {
  --tag-bg: var(--th-colors-scheme-100);
  --tag-color: var(--th-colors-scheme-800);
}

@mixin outline-tag-colors {
  --tag-color: var(--th-colors-scheme-500);
  --tag-shadow: inset 0 0 0px 1px var(--th-colors-scheme-400);

  @include mode.dark {
    --tag-shadow: inset 0 0 0px 1px var(--th-colors-scheme-600);
  }

  &.link {
    @include i.interactive using ($state) {
      @if $state == 'hover' {
        --tag-color: #{i.color('hover')};
      } @else if $state == 'focus' {
        @include i.focus-outline-style;
        --tag-color: #{i.color('hover')};
      } @else if $state == 'active' {
        --tag-color: #{i.color('active')};
      }
    }
  }
}

@mixin tag-sizes {
  &.sm {
    --tag-min-width: 1.25rem;
    --tag-min-height: 1.25rem;
    --tag-font-size: #{font-size.$xs};
    --tag-padding: 0.5rem;
  }

  &.md {
    --tag-min-width: 1.5rem;
    --tag-min-height: 1.5rem;
    --tag-font-size: #{font-size.$sm};
    --tag-padding: 0.5rem;
  }

  &.lg {
    --tag-min-width: 2rem;
    --tag-min-height: 2rem;
    --tag-font-size: #{font-size.$md};
    --tag-padding: 0.75rem;
  }
}

@mixin icon-style {
  width: var(--tag-font-size);
  flex-shrink: 0;
  height: var(--tag-font-size);
  line-height: 1em;
  color: currentcolor;
  vertical-align: top;
  display: inline-block;
}

.tag {
  @include tag-sizes;

  &.filled {
    @include filled-tag-colors;
  }

  &.outline {
    @include outline-tag-colors;
  }

  display: inline-flex;
  vertical-align: top;
  align-items: center;
  max-width: 100%;
  font-weight: 500;
  line-height: 1.2;
  outline: transparent solid 2px;
  outline-offset: 2px;

  color: var(--tag-color);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  min-height: var(--tag-min-height);
  min-width: var(--tag-min-width);
  font-size: var(--tag-font-size);
  padding-inline-start: var(--tag-padding);
  padding-inline-end: var(--tag-padding);

  .leftIcon {
    @include icon-style;
    margin-inline-end: 0.5rem;
  }

  .rightIcon {
    @include icon-style;
    margin-inline-start: 0.5rem;
  }

  .label {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &.pending {
    min-width: 6rem;
  }
}
