@use '@repo/ui/src/scss/breakpoints.scss' as breakpoints;

.pagePadding {
  @include breakpoints.page-padding using ($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }
}

.contentPageHeader {
  @include breakpoints.page-padding using ($padding) {
    padding-left: $padding;
    padding-right: $padding;
  }

  z-index: 1;
  display: flex;
  position: relative;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: flex-end;

  &.withBackground {
    aspect-ratio: 27 / 10;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';

      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      position: absolute;

      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
