@reference '../../root.css';

:root {
  --color-bg-sec-light: #eaeaea;
  --color-bg-ter-light: #f1f1f1;

  --color-bg-sec-dark: #1f1f1f;
  --color-bg-ter-dark: #171717;
}

.logo {
  @apply block h-full;
}

.header {
  background-color: light-dark(var(--color-bg-ter-light), var(--color-bg-ter-dark));
}

.navbar {
  background-color: light-dark(var(--color-bg-sec-light), var(--color-bg-sec-dark));
}

.contentHolder {
  min-height: calc(
    100dvh -
    var(--app-shell-header-offset, 0rem) -
    var(--app-shell-padding) -
    var(--app-shell-footer-offset, 0rem) -
    var(--app-shell-padding)
  );

  display: flex;
  flex-direction: column;

  .content {
    @apply flex-1 pt-8 pb-[var(--mantine-spacing-md)];
  }
}
