@use '@repo/ui/src/scss/mode.scss' as mode;

$marker-width: 2.4rem;

.linedHolder {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.125rem;
  grid-template-columns: $marker-width 1fr;

  &.top {
    min-height: 1rem;
  }

  &.bottom {
    min-height: 1rem;
  }

  .line {
    margin: 0 auto;
    width: 0.0625rem;

    @include mode.light {
      background-color: var(--colors-gray-300);
    }

    @include mode.dark {
      background-color: var(--colors-gray-100);
    }
  }
}
