.sectionTitle {
  font-size: 0.75rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.125rem;
  color: var(--title-color);
  text-transform: uppercase;
  border-bottom: solid 1px #e1e1e1;
  font-family: var(--title-font-family);
}
